<div class="row">
  <div class="col">
    <div class="banner">
      <%= render 'shared/carousel' %>
      <div class="home-tagline ">
        <h1>Mamys & Papys !</h1>
        <p>Découvrez nos supers grands-parents qui se feront une joie de vous recevoir chez eux. Un moment idéal de partage et de convivialté.</p>
      </div>
    </div>
  </div>
</div>
