<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active w-100 h-640" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1490349708435-19d432984978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1487&q=80')">
      <!-- <img class="d-block w-100" src="https://images.unsplash.com/photo-1490349708435-19d432984978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1487&q=80" alt="First slide"> -->
    </div>
    <div class="carousel-item w-100 h-640" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.skyrock.net/1391/83881391/pics/3099348351_1_3_S1M5Jj04.jpg')">
      <!-- <img class="d-block w-100" src="https://static.wixstatic.com/media/00fb686fa41f676a938dd5563eceadba.jpg/v1/fill/w_470,h_308/00fb686fa41f676a938dd5563eceadba.jpg" alt="Second slide"> -->
    </div>
    <div class="carousel-item w-100 h-640" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://static.wixstatic.com/media/00fb686fa41f676a938dd5563eceadba.jpg/v1/fill/w_470,h_308/00fb686fa41f676a938dd5563eceadba.jpg')">
      <!-- <img class="d-block w-100" src="https://i.skyrock.net/1391/83881391/pics/3099348351_1_3_S1M5Jj04.jpg" alt="Third slide"> -->
    </div>
  </div>
</div>
