<div class="footer">
  <div class="footer-links">
    <a href="https://www.santiane.fr/mutuelle-sante/guides/prix-remboursement-dentier"><i class="fas fa-teeth-open"></i></a>
    <a href="https://www.bastideleconfortmedical.com/materiel-medical/mobilite-transfert/cannes-et-accessoires.html"><i class="fas fa-candy-cane"></i></a>
    <a href="https://www.stannah.fr/"><i class="fas fa-wheelchair"></i></a>

  </div>
  <div class="footer-copyright">
    This Website is made with <i class="fas fa-heart"></i>
    <%#= image_tag("Ashley", class: "avatar") %>
    <%#= image_tag("Virginia", class: "avatar") %>
    <%#= image_tag("Paméla", class: "avatar") %>
  </div>
</div>
