.banner {
  // padding: 200px 0;
  // margin: 20px;
  // background-size: cover;
  .carousel-item {
    height: 640px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;

  }
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 58px;
  font-weight: 500;
  text-align: center;
  font-family: 'Special Elite', cursive;
  margin: 5px;
}

.banner p {
  font-size: 23px;
  color: #fff;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin: 10px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #6c63ff;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.logo {
  border-radius: 50%;
}

.home-tagline {
  position: absolute;
  bottom: 100px;
}

.banner-show {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Special Elite', cursive;
  text-transform: capitalize;

}

/*** QUERIES ***/
@media screen and (max-width: 470px) {
  .banner {
    background-position: 63% 25%;
  }
}

@media screen and (max-width: 708px) {
  .banner {
    background-position: top;
  }
}

@media screen and (max-width: 1056px) {
  .banner {
    background-position: 65% 25%;
  }
}



