.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.home-container {
  display: flex;
}

#map {
  position: sticky;
  top: 110px;
}

